# IS362_Week 7 Assignment
## David Vayman 


## Load in csv file

In [3]:
import sys
import pandas as pd 
import numpy as np


df = pd.read_csv('https://raw.githubusercontent.com/davay521/IS362_Assignment-7-/master/Week7%20assignment%20.csv')


df

,Unnamed: 0,Logan,Beauty and the Beast,The Lego Batman Movie,Fifty Shades Darker,John wick: Chapter 2,Kong:Skull Island
0,Alessandra,NaN,5.0,4.0,5.0,3.0,NaN
1,Lenny,5.0,2.0,NaN,5.0,5.0,NaN
2,Arthur,5.0,NaN,3.0,NaN,5.0,3.0
3,Ilya,4.0,4.0,2.0,1.0,NaN,0.0
4,Frankie,NaN,5.0,3.0,5.0,3.0,4.0

## Average Rating for Each movie

In [4]:
df.mean()

Logan                     4.666667
Beauty and the Beast      4.000000
The Lego Batman Movie     3.000000
Fifty Shades Darker       4.000000
John wick: Chapter 2      4.000000
Kong:Skull Island         2.333333
dtype: float64

## Average Rating by user

In [5]:
df.mean(axis=1)

0    4.25
1    4.25
2    4.00
3    2.20
4    4.00
dtype: float64

In [8]:
normalized = (df - df.mean()) / (df.max() - df.min())
normalized

/Users/davidvayman/anaconda/lib/python3.5/site-packages/pandas/core/ops.py:995: VisibleDeprecationWarning: boolean index did not match indexed array along dimension 0; dimension is 1 but corresponding boolean dimension is 5
  yrav = yrav[mask]

TypeError: unsupported operand type(s) for -: 'str' and 'str'